<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
<%- include ./partials/_header.ejs %>
</header>
    <% for(var key in urls) { %>
  <li> <a href = "http://localhost:8080/u/<%= key %>"> <%= key %> </a>: <a href="<%= urls[key] %>"> <%= urls[key] %> </a></li>
   <form method="POST" action="/urls/<%= key %>/delete">
    <button type="Delete">Delete</button>
    <a href="/urls/<%= key %>"> Edit </a>
  </form>
   <% } %>
  <p>
    <a href="http://localhost:8080/urls/new"> URL Shortening Link </a>
  </p>
</body>
</html>